a , a:link, a:visited {
			text-decoration: none;
			font-weight: bold;
			color: #F5F5F5;
			
		}
a:hover , a:active {
				text-decoration: underline;
				font-weight: bold;
				color: #000000
			}
caption {
	font-weight: bold;
	color: #ADD8E6

}
.col1 {
	color: #EE82EE;
}

.col2 {
	
	color: #FFFAFA;
}
.col3{
	color: #ADD8E6;
}

 a ,  h3 {
	font-family: cursive;
}
table {
	font-style: italic;
	background-color: purple;
}
body {
	
	background:url(black_white.jpg);
	background-size: cover;
}
th , ul {
	color: #F5F5F5
}
p{
	color: #EE82EE
}
h2{
	color: #EE82EE
}
h3{
	color: #ADD8E6
}
hr{
	color: #000000
}

ul {
	font-style: italic;
}
#img {
	background-image: url(Vessel_by_Twenty_One_Pilots.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-y: center;
}
 
@font-face {
	font-family:; 
	font-style:normal;
	font-weight: 400px;
	src: ("https://fonts.googleapis.com/css?family=Bungee+Inline")
}
h2 , #p1 {
	font-family: 'Bungee Inline', cursive;
}
