a , a:link, a:visited {
			text-decoration: none;
			font-weight: bold;
			color: #F5F5F5;
			
		}
a:hover , a:active {
				text-decoration: underline;
				font-weight: bold;
			}
caption {
	font-weight: bold;
	color: #ADD8E6

}
.col1 {
	color: #EE82EE;
}

.col2 {
	
	color: #FFFAFA;
}
.col3{
	color: #ADD8E6;
}

#p1 , ul , table , a , h2 , h3 {
	font-family: cursive;
}
body {
	
	background:url(black_white.jpg);
	background-size: cover;
}
th , ul {
	color: #F5F5F5
}
p{
	color: #EE82EE
}
h2{
	color: #EE82EE
}
h3{
	color: #ADD8E6
}
hr{
	color: #000000
}
#img {
	border-color: #000000;
	border-style: inset;
	border-radius: 5px; 
}
