h1 {
    font-family: cursive;
    color: #00FA9A;
}
#pglinks {
    font-weight: bold;
    font-family: cursive;
    
}
a , a:link, a:visited {
			text-decoration: none;
			color: #808080;
			
		}
a:hover , a:active {
				text-decoration: underline;
				font-weight: bold;
                color: #00FA9A
			}
#footer {
    color: #1E90FF;
    font-family: cursive;
}
textarea {
    font-family: cursive;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}