h1 {
    font-family: 'Yellowtail';
    color: #00FA9A;
}
#pglinks {
    font-weight: bold;
    font-family: cursive;
    
}
a , a:link, a:visited {
			text-decoration: none;
			color: #808080;
			
		}
a:hover , a:active {
				text-decoration: underline;
				font-weight: bold;
                color: #00FA9A
			}
#footer {
    color: #1E90FF;
    font-family: cursive;
}
textarea {
    font-family: cursive;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
}
@font-face {
    src: (font-family: 'Yellowtail', cursive;)
}
#table {
    background-color: #2F4F4F;
}
#content {
    background-color: #8FBC8F;
}
.id , #questions , #info , #visit , #contact {
    font-weight: bold;
}